<div class="article-meta-details">
	<small>Created by:
		<%= link_to obj.user.username, user_path(obj.user) %>,
		<%=time_ago_in_words(obj.created_at) %>
		ago, last updated:
		<%=time_ago_in_words(obj.updated_at) %>
		ago
	</small>
</div>
