<div class="jumbotron">
	<h1 align="center">
		Aman Sawhney
		<br>
		<small>
			This page was last updated July 11, 2016
		</small>
	</h1>
	<br>
	<p>I am a 16 year old student who has been working with technology my entire life and love it. I was first introduced to technology when I got my first dell computer. While playing online games at places like miniclip.com, I began to fall in love
		with programming. My father taught me my first language in order to learn the fundamentals of computer programming. Then, I began to learn Python. With that under my belt, I built scripts in order to scrape the web for information. Then, in the
		summer of 2014, I attended the FlatIron School for web development. I got my hands dirty with CSS, HTML, and Ruby. Ruby is my second favorite lanuage so I use it as backend for the servers that keep my IOS apps alive. After my attendance at the
		FlatIron school, I began doing work for a company in New York called Blue Matrix. There, I worked on setting up 10 gigabit NICs for deployment. Afterwards, I learned C++ to further my skill set. In the summer of 2015, I attended the Make School
		summer program. I learned Swift and began my journey of app development. After, we are in the present. Right now I have made a few iPhone applications.
	</p>
	<h1 align="center" class="question">
		<small>Why does this exist?
		</small>
	</h1>
	<br>
	<p>
		I made this because I felt my web development skills were lacking so I decided to expand my knowledge by following the Udemy Ruby on Rails course.
		<p></h4>
		<br>
		<p class="center">
			<a role="button" class="center btn btn-primary btn-lg" href="http://amansawhney.me/">
				A Link to My Personal Site
			</a>
		</p>
	</div>
