
@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
	float: left;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
.center {
	text-align: center;
}

.jumbotron {
	
}
.jumbotron h1 {
	magrin-bottom: 60px;
	letter-spacing: -1px;

}
.jumbotron h4 small {
	font-size: .9em;
	letter-spacing: +.5px;
}
.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}
.description {
	margin-top: 0px;
	margin-bottom: -20px;
}
.article-title {
	font-weight: bold;
	font-size: 1.5em;
}
.article-body {
	border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.article-actions {
}
.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
	margin-bottom: 5px;
}




